@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-weight: 300;

  /* Primary colors */
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  /* Neutral colors */
  --very-dark-blue-main: hsl(217, 54%, 11%);
  --very-dark-blue-card: hsl(216, 53%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  /* Windows Power Toys Color Picker */
  --light-blue: hsl(215, 51%, 70%);

  background-color: var(--very-dark-blue-main);
  color: var(--light-blue);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--cyan) !important;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 1rem;
  margin: 1rem 0;
  font-size: 1.25rem;
}

p {
  line-height: 1.5;
}

img {
  display: block;
}

.container {
  margin: auto;
  width: 20rem;
  background-color: var(--very-dark-blue-card);
  padding: 1.25rem;
  border-radius: 1rem;
}

.ethereum {
  display: flex;
  font-weight: 400;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin: 1rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid hsla(215, 51%, 70%, 0.15);
}

.eth {
  color: var(--cyan);
}

.ethereum > span {
  display: flex;
  align-items: center;
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  cursor: pointer;
}

.equilibrium-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hover-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: opacity 300ms ease-in-out, background-color 150ms ease-in-out;
}

.image-container:hover .hover-div {
  opacity: 1;
  background-color: hsla(178, 100%, 50%, 0.5);
}

.eth-icon,
.clock-icon {
  margin-right: 0.5rem;
}

.created-by {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
}

.created-by a {
  color: var(--white);
}

.avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  border: 1px solid var(--white);
}
